dist/
*.exe
settings.json
config.json
linux/build/
linux/richpresence/icon.png
__pycache__/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/sdk/*
!android/sdk/README.md
android/keystore.properties
android/app/.cxx/
